img{
  margin-top: 20px;
  margin-left: 20px;
  align-items: center;
  width: 300px;
  height: 250px;

}
body{
  background-color: rgb(206, 205, 205);
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
h4{
  text-align: center;
}
ol{
  border: 1px solid brown;
  text-align: center;
  width: 300px;
  height: 250px;
  align-content: center;
  margin-bottom: 50px;
  margin-left: 450px;
  margin-right: 70px;
  overflow: auto;

}
.image{
  border: 1px solid brown;
  width: 900px;
  height: 150;
  display: block;
  display: table;
}
.column {
  flex: 33.33%;
  padding: 5px;
}

.row {
  display: flex;
}
.info{
  flex: 33.33%;
  padding: 5px;
  margin-left: 20px;

}
p{
  font-weight:20;
}
a{
  target:_self;
}